:root {
    --sky: #74b9ff;
    --grass: #2ed573;
    --dirt: #57606f;
    --fence: #d1a36a;
    --hotbar-bg: #2f3542;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e222b;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.painel-topo {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 26px;
    text-shadow: 2px 2px #000;
}

p {
    margin: 5px 0;
    font-size: 13px;
    color: #a4b0be;
}

.placar {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
    background: rgba(0,0,0,0.4);
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 5px;
}

/* Tabuleiro Principal */
#grade-mundo {
    display: grid;
    grid-template-columns: repeat(20, 35px);
    grid-template-rows: repeat(12, 35px);
    border: 5px solid #2f3542;
    background-color: var(--sky);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.bloco {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    user-select: none;
    transition: background 0.1s;
}

.bloco:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Estilos de Textura */
.sky { background-color: var(--sky); }
.grass { background-color: var(--grass); border-bottom: 3px solid #26af50; }
.dirt { background-color: #74563c; border: 1px solid #5d432e; }
.fence { background-color: var(--fence); border: 2px dashed #b78a52; }
.cow { background-color: var(--sky); }
.cow-vacinada { background-color: #a4b0be !important; }

/* Hotbar */
.hotbar {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    background: var(--hotbar-bg);
    padding: 8px;
    border: 3px solid #747d8c;
    border-radius: 4px;
}

.slot {
    width: 55px;
    height: 55px;
    border: 3px solid #747d8c;
    background: #57606f;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slot.ativo {
    border-color: #f1c40f;
    background: #34495e;
}

.icone { font-size: 18px; }
.legenda { font-size: 9px; font-weight: bold; margin-top: 2px; }